main {
  background-color: var(--color02);
}

h2{
  margin-bottom: 20px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: var(--color03);
  color: white;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 230px auto;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 450px;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
}

label {
  color: white;
  margin-right: 5px;
}

input {
  width: 300px;
  background-color: var(--color03);
  color: white;
  border: 1px solid var(--color03);
  border-radius: 5px;
  font-family: Arial;
  outline: none
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--color03) inset;
  -webkit-text-fill-color: white;
}

button {
  align-self: center;
  height: 35px;
  margin-top: 30px;
  width: 60%;
  background-color: var(--color04);
  border: 1px solid var(--color04);
  border-radius: 5px;
  color: white;
  outline: none;
  font-family: Arial;
  transition: background-color var(--ease-time) ease, border var(--ease-time) ease, width var(--ease-time) ease;
}

button:hover {
  background-color: rgb(4, 114, 97);
  border: 1px solid rgb(4, 114, 97);
  width: 450px;
}
