.selection-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 20px 13vw 0 13vw;
}

.info {
  margin-top: 20px;
  text-align: center;
  color: var(--color05);
}

.clickableOption {
  margin-bottom: 20px;
  border: 0px;
  border-radius: 0px;
  margin: 10px;
  background-color: var(--color02);
  box-shadow: 0px 0px 15px var(--color00);
  transition: transform var(--ease-time) ease;
}

.clickableOption:hover{
  transform: scale(1.05);
}

.float-window {
  width: 200px;
  position: fixed;
  right: 20px;
  top: 20vh;
  background-color: var(--color05);
  border: 3px solid var(--color00);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#items {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  min-height: 50%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

#device {
  width: 162px;
  margin: 10px 0 10px;
}

.separator {
  margin: 0 0 10px;
  border-top: 3px dashed #bbb;
  width: 100%;
}

#phone-img {
  width: 60%;
}

#tablet-img {
  width: 80%;
}

#laptop-img {
  width: 85%;
}

.info-container p {
  height: 30px;
}

.info-container h2 {
  height: 200px;
}

@media screen and (max-width: 1537px) {
  .float-window {
    width: 200px;
    position: relative;
    margin: 0 auto 0 auto;
    right: 0;
    top: 10px;
  }
}


.selection-container {
  margin: 20px auto;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
  width: 70vw;
  height: 500px;
}

.selection-item {
  text-align: center;
  margin: 10px;
  height: 300px;
  min-height: 300px;
  width: 275px;
  min-width: 275px;
  border-radius: 7px;
  transition: transform var(--ease-time) ease;
  box-shadow: 0px 0px 15px var(--color00);
}

.selection-item:hover {
  transform: scale(1.05);
}

.cart-item {
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.no-content {
  text-align: center;
  line-height: 450px;
}

.selected-option {
  transform: scale(1.05);
}


#addToCart {
  width: 70%;
  height: fit-content;
  margin-bottom: 10px;
  transition: width var(--ease-time) ease;
}

#addToCart:hover {
  width: 80%;
}

.element-style {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap; 
  height: fit-content;
  overflow-x: hidden;
  align-content: center;
  color: var(--color05);
  width: 70vw;
}