main {
  color: white;
  background-color: var(--color02);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 0 20px;
}

#all {
  background-color: var(--color03);
  margin: 2vw 10vw 20px 10vw;
  border-radius: 20px;
}

.prod-name {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}

#generation {
  padding-top: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  font-family: "Poppins";
  font-weight: 900;
  font-size: 2.2em;
}

.metric-wrapper {
  margin-top: 10px;
  text-align: center;
}

.metric-wrapper label {
  font-weight: bold;
}

.intern-wrapper {
  display: flex;
  line-height: 100px;
  justify-content: center;
  margin-top: 20px;
}

.intern-wrapper img {
  max-width: 100px;
}

.product {
  width: 400px;
  margin-bottom: 20px;
}

.currency {
  text-align: center;
  line-height: 50px;
  width: 150px;
  max-width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--color05);
  text-decoration: none;
  font-weight: 700;
  color: white;
  transition: background-color var(--ease-time) ease;
}

.currency:hover {
  cursor: pointer;
  background-color: var(--color02);
}

.info {
  justify-content: space-evenly;
}

.metric-wrapper {
  margin: 20px auto;
  text-align: center;
  color: white;
}

.metric-wrapper label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

select {
  padding: 10px;
  margin: 5px auto;
  border: 2px solid var(--color05); 
  border-radius: 5px;
  background-color: var(--color02); 
  color: white;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  width: 60%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

select:hover {
  border-color: var(--color02);
}

option {
  background-color: var(--color02);
  color: white;
  padding: 10px;
}

option:hover {
  background-color: var(--color04);
}
