.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px 10vw 0 10vw;
}

#prod-name {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}

#generation {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10vw;
  font-family: 'Poppins';
  font-weight: 900;
  font-size: 2.2em;
}

.metric-wrapper {
  margin-top: 10px;
  text-align: center;
}

.intern-wrapper {
  display: flex;
  line-height: 100px;
  justify-content: center;
  margin-top: 20px;
}

.intern-wrapper img {
  max-width: 100px;
}

.product {
  width: 400px;
}

.currency {
  text-align: center;
  line-height: 50px;
  width: 150px;
  max-width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: #898989;
  text-decoration: none;
  font-weight: 700;
  color: black;
}

#currency:hover {
    cursor: pointer;
}

.info{
    justify-content: space-evenly;
}
