{% extends 'base.html' %}

{% load static %}

{% block additionalLinks %}
  <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
{% endblock %}

{% block title %}
  Ecomods - Mi Carrito
{% endblock %}

{% block content %}
  <div class="cart-container">
    <h1>MI CARRITO</h1>
    {% if isEmpty %}
      <img src="{% static 'images/empty-cart.png' %}" alt="carrito vacio" />
    {% else %}
      {% for cart_Product in cart_Products %}
        <div class="cart-item">
          <h2>{{cart_Products.product.name}}</h2>
          <p>Modelo: {{cart_Product.product.model}}</p>
          <p>Precio: {{cart_Product.product.price}}€</p>
        </div>
      {% endfor %}
      <p>Precio total: {{total_Price}}</p>
    {% endif %}
  </div>
{% endblock %}
