{% extends 'base.html' %}

{% load static %}

{% block additionalLinks %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block title %}
  Ecomods - Inicio
{% endblock %}

{% block content %}
  <div class="Top section">
    <div class="image-text-container">
      <div class="image-stack">
        {% for phone in products.phones %}
          <img data-url="{% url 'products' 'phone' %}" src="{% static phone.image %}" alt="{{ phone.name }}">
        {% endfor %}
      </div>
      <div class="image-description">
        <p>Los mejores teléfonos modulares de la serie Top, adaptados a tus necesidades.</p>
      </div>
    </div>
  </div>

  <div class="Middle section">
    <div class="image-text-container">
      <div class="image-stack">
        {% for tablet in products.tablets %}
          <img data-url="{% url 'products' 'tablet' %}" src="{% static tablet.image %}" alt="{{ tablet.name }}">
        {% endfor %}
      </div>
      <div class="image-description">
        <p>Explora nuestras tablets modulares de la serie Middle, la mejor opción para la productividad.</p>
      </div>
    </div>
  </div>

  <div class="Bottom section">
    <div class="image-text-container">
      <div class="image-stack">
        {% for laptop in products.laptops %}
          <img data-url="{% url 'products' 'laptop' %}" src="{% static laptop.image %}" alt="{{ laptop.name }}">
        {% endfor %}
      </div>
      <div class="image-description">
        <p>Nuestros portátiles modulares de la serie Bottom ofrecen potencia y flexibilidad.</p>
      </div>
    </div>
  </div>
{% endblock %}
