{% extends 'base.html' %}

{% load static %}

{% block additionalLinks %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block title %}
  Ecomods - Inicio
{% endblock %}

{% block content %}
  <div class="Top">
    
  </div>
  <div class="Middle">
    <img src="{% static 'images/prototypes/prototype1.png' %}" alt="Prototype 1">
  </div>
  <div class="Bottom">
    <img src="{% static 'images/prototypes/prototype3.png' %}" alt="Prototype 3">
  </div>
{% endblock %}
