{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block additionalLinks %}
<link rel="stylesheet" href="{% static 'css/products.css' %}" />
<script src="{% static 'js/products.js' %}" defer></script>
{% endblock %}

{% block title %}
Ecomods - {{ type.name }}
{% endblock %}

{% block content %}
<div class="select-custom">
  <div class="select-custom-trigger">Cambiar Métrica</div>
  <div class="custom-options">
    <span class="custom-option" data-value="SI">SI (Europa)</span>
    <span class="custom-option" data-value="Imperial">Imperial (América del Norte)</span>
  </div>
</div>

<div id="all">
  <h1 id="generation">Nuestros {{ type.name }}s</h1>
  <img class="showcase" src="{% static type.gif_path %}" />
  <div class="wrapper">
    <div class="product">
      <table border="0">
        <tr>
          <th></th>
          <th class="header-table">
            <h2>Largo</h2>
          </th>
          <th class="header-table">
            <h2>Alto</h2>
          </th>
          <th class="header-table">
            <h2>Ancho</h2>
          </th>
          <th class="header-table">
            <h2>Precio</h2>
          </th>
        </tr>
        {% for product in products %}
        <tr>
          <th class="lateral-table">
            <p class="prod-name left">{{ product.name }}</p>
          </th>
          <th>
            <p class="metric">{{product.x}} mm</p>
          </th>
          <th>
            <p class="metric">{{product.y}} mm</p>
          </th>
          <th>
            <p class="metric">{{product.z}} mm</p>
          </th>
          <th>
            <a class="currency" data-url="{% url 'productSelect' product.id %}">{{ product.price|formatDec }} €</a>
          </th>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}