h1, h2, img, li{
    color: #fff;
    text-align: center;
}

h1 {
    margin: 40px;
}

p {
    color: white;
}

.cart-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color02);
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    width: 80%;
    min-height: calc(100vh - var(--navHeight) - 40px);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
    background-color: var(--color02);
    padding: 20px;
    box-shadow: 0px -5px 10px -5px rgba(0, 0, 0, 0.1), 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
    transition: border-radius var(--ease-time) ease, transform var(--ease-time) ease, box-shadow var(--ease-time) ease;
}

.cart-item:hover {
    transform: scale(1.01);
    border-radius: 10px;
    box-shadow: 0px 0px 15px var(--color03);
}

.cart-item img {
    height: 100px;
    width: 100px;
}

#totalPriceContainer {
    align-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-top: auto;
}

#totalPrice {
    margin-right: 10px;
}

.delete {
    height: 40px;
    width: 60px;
}

#cart{
    margin: auto;
    height: 200px;
    width: 200px;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-control button {
    height: 30px;
    width: 30px;
}

.delete,
.quantity-control button{
    background-color: var(--color04);
    border: 1px solid var(--color04);
    border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
    transition: background-color var(--ease-time) ease, border var(--ease-time) ease;
}

.delete:hover,
.quantity-control button:hover{
    background-color: rgb(4, 114, 97);
    border-color: rgb(4, 114, 97);
}

.quantity-control p {
    margin: 0 10px;
}
