@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
    --color00: black;
    --color01: #0F0F0F;
    --color02: #232D3F;
    --color03: #005B41;
    --color04: #008170;
    --color05: white;
    --color06: rgba(0, 91, 65, 0.5);
    --ease-time: 0.5s;
    --navHeight: 60px;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color02);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: calc(100vh - var(--navHeight));
    flex: 1;
    padding: 20px 0;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-1000px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slideInLeft {
    animation-name: slideInLeft;
}

.animated {
    animation-duration: 1s;
}