:root{
    --color01: #0F0F0F;
    --color02: #232D3F;
    --color03: #005B41;
    --color04: #008170;
    --ease-time: 0.5s;
    --navHeight: 50px;
    --contentHeight: 400px;
    --marginContent: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}
