.section {
  position: relative;
  width: 100%;
  color: var(--color07);
  margin: 2.5vh 0 2.5vh 0;
}

.section-title {
  color: var(--color07);
  margin-bottom: .5em;
}

.image-text-container {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  border: none;
  transition: transform var(--ease-time) ease-in-out, background-color var(--ease-time) ease-in-out;
}

.image-stack {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  transition: transform var(--ease-time) ease-in-out,
    margin-right var(--ease-time) ease-in-out;
}

.image-stack img {
  margin-right: 1em;
  transition: transform var(--ease-time) ease-in-out;
  transition: filter var(--ease-time) ease-in-out;
  margin-right: 20px;
  cursor: pointer;
}

.image-stack img:hover + * {
  filter: brightness(0.3);
}

.image-stack img:hover + * + * {
  filter: brightness(0.3);
}

.image-stack img:has(+ *:hover) {
  filter: brightness(0.3);
}

.image-stack img:has(+ * + *:hover) {
  filter: brightness(0.3);
}

.image-description {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  background-color: var(--color06);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: var(--color07);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  transition: transform var(--ease-time) ease-in-out;
  transform: translateX(100%);
}

.image-text-container:hover .image-description {
  transform: translateX(0);
}