.section {
  position: relative;
  width: 100%;
  color: var(--color07);
}

.image-text-container {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  border: none;
  transition: transform var(--ease-time) ease-in-out, background-color var(--ease-time) ease-in-out;
}

.image-text-container:hover {
  background-color: var(--color03);
}

.image-stack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: transform var(--ease-time) ease-in-out, margin-right var(--ease-time) ease-in-out;
  cursor: pointer;
}

.image-stack img {
  max-width: 20vw;
  max-height: 20vh;
  width: auto;
  height: auto;
  margin: 10px;
  transition: transform var(--ease-time) ease-in-out, margin-right var(--ease-time) ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.image-stack img:hover {
  transform: scale(1.05);
}

.image-text-container:hover .image-stack img {
  margin-right: 5px;
}

.image-description {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  background-color: var(--color06);
  color: var(--color07);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  transition: transform var(--ease-time) ease-in-out;
  transform: translateX(100%);
}

.image-text-container:hover .image-description {
  transform: translateX(0);
}