nav {
  background-color: var(--color01);
  transition: border-bottom var(--ease-time) ease-in-out;
  min-height: var(--navHeight);
  max-height: var(--navHeight);
  display: flex;
  justify-content: space-between;
  padding: 0 var(--contentPadding) 0 calc(var(--contentPadding) - 8px - 1vmin + 10px);
}

h1 {
  margin-left: 10px;
}

#shoping-cart,
#shoping-cart g,
#create,
#profile {
  -webkit-transition: fill var(--ease-time) ease;
  -moz-transition: fill var(--ease-time) ease;
  -o-transition: fill var(--ease-time) ease;
  transition: fill var(--ease-time) ease;
  fill: var(--color07);
  height: 60px;
}

#shoping-cart:hover g,
#create:hover,
#profile:hover {
  fill: var(--color06);
  cursor: pointer;
}

#profile:focus {
  outline: none;
}

#icon {
  margin: 8px;
  height: 40px;
  width: 40px;
  display: inline-block;
  transition: transform var(--ease-time) ease;
}

#icon:hover {
  transform: scale(1.2);
}

.navbar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background-color: var(--color01);
}

.navbar li {
  text-align: center;
  display: inline-block;
  overflow: hidden;
  margin: 0 1vmin 0 1vmin; 
}

.navbar a {
  text-decoration: none;
  color: var(--color07);
  background: linear-gradient(var(--color07) 50%, var(--color06) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  background-position: 100% 0%;
  transition: background-position calc(var(--ease-time) * 1.5) ease;
}

.navbar a,
.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a:hover {
  background-position: 0 100%;
}

#account-info,
#account-options {
  z-index: 10000;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  background-color: var(--color01);
  min-width: 160px;
  top: calc(var(--navHeight));
  transition: height var(--ease-time2) ease-in-out,
    visibility var(--ease-time2) ease-in-out,
    border-bottom var(--ease-time2) ease-in-out,
    border-left var(--ease-time2) ease-in-out,
    border-right var(--ease-time2) ease-in-out;
  align-self: flex-start;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#account-info li,
#account-options li {
  color: var(--color07);
  display: block;
  padding: 0;
  margin: 20px 50px 20px 50px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: var(--color01);
  color: var(--color07);
  border-radius: 10px;
  padding: 25px;
  border: 1px solid var(--color07);
  align-items: center;
  position: fixed;
  top: calc(var(--navHeight) + 20px);
  right: 21%;
  transform-origin: top right;
  transform: translate(0, 0) scale(0);
  transition: transform 1s ease;
  z-index: 1000000;
}

.show-profile {
  transform: translate(
      calc(21vw - 50vw + 50%),
      calc(50vh - (var(--navHeight) + 20px) - 50%)
    )
    scale(1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
}

label {
  color: var(--color07);
  margin-right: 5px;
}

input {
  width: 300px;
  background-color: var(--color01);
  color: var(--color07);
  border: 1px solid var(--color01);
  border-radius: 5px;
  font-family: Arial;
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--color01) inset;
  -webkit-text-fill-color: var(--color07);
}

#save {
  align-self: center;
  height: 35px;
  margin-top: 30px;
  width: 60%;
  background-color: var(--color06);
  border: 1px solid var(--color06);
  border-radius: 5px;
  color: var(--color07);
  outline: none;
  font-family: Arial;
  transition: background-color var(--ease-time) ease,
    border var(--ease-time) ease, width var(--ease-time) ease;
}

#save:hover {
  background-color: rgb(4, 114, 97);
  border: 1px solid rgb(4, 114, 97);
  width: 102%;
}

.profile {
  border-radius: 50%;
  margin-bottom: 30px;
  height: 80px;
  width: 80px;
}

#profilepic {
  transition: transform var(--ease-time) ease, opacity var(--ease-time) ease;
  opacity: 1;
  transform: translateX(0);
}

#profilepic.fade-out {
  opacity: 0;
  transform: translateX(-250px);
}

#profile-pic-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 1s ease, opacity 0.5s ease;
  height: 100px;
  width: 700px;
  border-radius: 10px;
  border: 1px solid var(--color07);
  background-color: var(--color01);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile-pic-menu.visible {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  z-index: 10000000;
}

#profile-pic-menu ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile-pic-menu img {
  padding: 10px;
  opacity: 0;
  transition: transform var(--ease-time) ease, opacity var(--ease-time) ease;
}

#profile-pic-menu img:hover,
#profilepic:hover {
  transform: scale(1.1);
}

#profile-pic-menu img.loaded {
  opacity: 1;
}

/* CSS adicional para pantallas pequeñas */
@media only screen and (max-width: 768px) {
  /* Ocultar la segunda lista de navegación que contiene 'create', 'shopping-cart' y 'profile' */
  nav ul.navbar:nth-child(2) {
    display: none;
  }

  /* Opcional: Ajustar la primera barra de navegación para centrar el logo y los enlaces */
  nav ul.navbar:first-child {
    width: 100%;
    justify-content: space-around; /* Distribuye uniformemente los elementos */
  }

  /* Opcional: Reducir el tamaño del logo para pantallas pequeñas */
  #icon {
    height: 35px;
    width: 35px;
    margin: 5px;
  }

  /* Opcional: Ajustar el tamaño de los enlaces de navegación */
  .navbar li a {
    font-size: 14px;
    padding: 10px;
  }
}
