{% extends 'base.html' %}

{% load static %}

{% block additionalLinks %}
  <link rel="stylesheet" href="{% static 'css/accounts/profile.css' %}" />
{% endblock %}

{% block title %}
  Ecomods - Editar Perfil de {{ client.user.username }}
{% endblock %}

{% block content %}
  <div class="profile-container">
    <div id="main-info-wrapper">
      <div class="main-info">
        <img id="profile" src="{% static 'images/perfil.jpg' %}">
        {% if request.user.first_name %}
          <h2>{{ request.user.first_name.upper }}</h2>
        {% else %}
          <h2>{{ request.user.username.upper }}</h2>
        {% endif %}
        <img id="pencil" src={% static 'images/edit.svg' %}/>
      </div>
    </div>
    <form method="post" action="{% url 'viewProfile' %}">
      {% csrf_token %}
      <div class="content">
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" value="{{ client.user.username }}" required />
      </div>

      <div class="content">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ client.user.email }}" required />
      </div>

      <div class="content">
        <label for="first_name">Nombre:</label>
        <input type="text" id="first_name" name="first_name" value="{{ client.user.first_name }}" required />
      </div>

      <div class="content">
        <label for="last_name">Apellidos:</label>
        <input type="text" id="last_name" name="last_name" value="{{ client.user.last_name }}" required />
      </div>

      <div class="content">
        <label for="credit_card" id="credit_card"><img src="{% static 'images/credit.svg' %}"> </label>
        <input type="text" id="credit_card" name="credit_card" value="{{ client.creditCard }}" placeholder="**** **** **** ****" />
      </div>
      <button type="submit" id="save">Guardar cambios</button>
    </form>
  </div>
{% endblock %}
