{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block additionalLinks %}
  <link rel="stylesheet" href="{% static 'css/products/products.css' %}" />
  <script src="{% static 'js/products/products.js' %}" defer></script>
{% endblock %}

{% block title %}
  Ecomods - {{ product }}
{% endblock %}

{% block content %}
<div class="select-custom">
  <div class="select-custom-trigger">Cambiar Métrica</div>
  <div class="custom-options">
    <span class="custom-option" data-value="SI">SI (Europa)</span>
    <span class="custom-option" data-value="Imperial">Imperial (América del Norte)</span>
  </div>
</div>

  <div id="all">
    {% for generation in product_generations %}
      <h1 id="generation">Generación {{ generation }}</h1>
      <img class="showcase" src="{% static productURI %}">
      <div class="wrapper">
        {% for product in product_generations|get_genToProds:generation %}
          <div class="product">
            <p class="prod-name">{{ product.name }}</p>
            {% if product|get_productType == 'LP' %}
              <div class="intern-wrapper info">
                <img class="dimension" alt="productYDimension" src="{% static 'images/y.svg' %}" /><p class="distance">{{ product.dimensionX|formatDec }} mm</p>
              </div>
              <div class="intern-wrapper info">
                <img class="dimension" alt="productXDimension" src="{% static 'images/x.svg' %}" /><p class="distance">{{ product.dimensionY|formatDec }} mm</p>
              </div>
            {% else %}
              <div class="intern-wrapper info">
                <img class="dimension" alt="productXDimension" src="{% static 'images/x.svg' %}" /><p class="distance">{{ product.dimensionX|formatDec }} mm</p>
              </div>
              <div class="intern-wrapper info">
                <img class="dimension" alt="productYDimension" src="{% static 'images/y.svg' %}" /><p class="distance">{{ product.dimensionY|formatDec }} mm</p>
              </div>
            {% endif %}
            <div class="intern-wrapper info">
              <img class="dimension" alt="productZDimension" src="{% static 'images/z.svg' %}" /><p class="distance">{{ product.dimensionZ|formatDec }} mm</p>
            </div>
            <div class="intern-wrapper">
              <a class="currency">{{ product.price|formatDec }} €</a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
