{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block additionalLinks %}
<link rel="stylesheet" href="{% static 'css/finalBuild/build.css' %}" />
<script src="{% static 'js/finalBuild/build.js' %}" defer></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

{% block title %}
Ecomods - Construcción
{% endblock %}

{% block content %}
<div id="stage-3" class="stage">
  <h2 class="info">Elige el tipo de producto que desea construir</h2>
  <div class="selection-wrapper" id="deviceSelections">
    <img class="deviceImage" src="{% static product.media_path %}" alt="{{product.name}}">
  </div>
</div>
{% endblock %}