{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block additionalLinks %}
  <link rel="stylesheet" href="{% static 'css/finalBuild/build.css' %}" />
  <script src="{% static 'js/finalBuild/build.js' %}" defer></script>
{% endblock %}

{% block title %}
  Ecomods - Construcción
{% endblock %}

{% block content %}
    <div id="stage-1">
        <h2 class="info">Elige el tipo de producto que desea construir</h2>
        <div class="selection-wrapper">
            <button class="clickableOption" id="Phone" onClick="changeSelection(Phone, {{compatibleModules|get_listFromCM}})">Imagen telefono</button>
            <button class="clickableOption" id="Tablet" onClick="changeSelection(Tablet, {{compatibleModules|get_listFromCM}})">Imagen tablet</button>
            <button class="clickableOption" id="Laptop" onClick="changeSelection(Laptop, {{compatibleModules|get_listFromCM}})">Imagen portatil</button>
        </div>
        <div id="deviceSelections"></div>
        <div id="moduleSelections"></div>
    </div>
    <!-- TODO: Construcción de producto -->
{% endblock %}
