{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block additionalLinks %}
<link rel="stylesheet" href="{% static 'css/finalBuild/build.css' %}" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

{% block title %}
Ecomods - Selección de Módulos
{% endblock %}

{% block content %}
<div id="stage-2" class="stage">
  <h2 class="info">Elige el modelo del producto que desea construir</h2>
  <div class="selection-wrapper" id="modelSelections">
    {% for model in models %}
    <button class="model-selectable">
      <img class="modelImage" src="{ static model.media_path }" alt="{{model.name}}">
    </button>
    {% endfor %}
  </div>
  <div class="module-container">
    <ul>
      {% for module in modules %}
      <li class="module-selectable" id="{{module.id}}">
        <img src="{ static module.media_path }" alt="{{module.name}}">
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}